<h1>Editar Cliente</h1>
<%= form_with(model: @cliente,id: 'formulario_clientes',url: actualizar_cliente_path,local: true) do |form|%>
	<%=render 'formulario',cliente: @cliente,form: form %>
<%end%>
<%= link_to 'Mostrar', mostrar_cliente_path%> |
<%= link_to 'Regresar', clientes_inicio_path %>